
/* Copyright 2008-2022 Douglas Wikstrom */

body
{
    font-family: "Times New Roman", Times, serif;
    max-width: 700px;
    background-color: white;
    color: black;
    font-size: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 1.5em;
    margin-left: 1.5em;
}
 /* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
} 

th, td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

table {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

table, th {
    border-bottom: 2px solid black;
}
table, th, tr, td {
    text-align: left;
    border-collapse: collapse;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
